@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 이제 'JalnanGothic' 폰트를 원하는 곳에서 사용할 수 있습니다. 예를 들어, body 전체에 적용하려면: */
body {
    font-family: 'JalnanGothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    padding: 20px;
    margin: 0;
}

/* 폼과 관련된 스타일 */
form {
    font-family: 'JalnanGothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 90%;
}

h1{
    font-family: 'JalnanGothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    color: #333;
}

/* 입력 필드 스타일 */
input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px; /* 변경된 부분 */
}

/* 라벨 스타일 */
label {
    display: block;
    margin-bottom: 10px; /* 변경된 부분 */
    color: #333;
    font-size: 18px; /* 변경된 부분 */
}

/* 버튼 스타일 */
button {
    font-family: 'JalnanGothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px; /* 변경된 부분 */
    margin: 10px 0; /* 변경된 부분 */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* 변경된 부분 */
}

button:hover {
    background-color: #45a049;
}
